@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    font-family: 'Aleo', serif;
 
}
.fa-bookmark,.fa-envelope-open-text,.fa-square,.fa-linkedin-in,.fa-github,.fa-phone-alt{
    color: #F18250;
}
main{
    height: 100vh;
    position: relative;
    top: 45vh;
    
}
.fontaccueil{
    position: absolute;
    background-image:url(../image/FondaccueilPortflio.png) ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left;
    height: 40%;
    width: 100%;
}
.fontaccueil h1{
    position: absolute; 
    width: 134px;
    height: 45px;
    top: 20%;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.titre{
    position: absolute; 
width: 243px;
height: 18px;
top: 45%;
font-style: italic;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}
hr{ 
    position: absolute; 
    width: 158px;
    height: 0px;
    top: 50%;
    background-color:  #FFFFFF;
    border: 2px solid #FFFFFF;
    }
.petit-histoire{
    position: absolute; 
    width: 70%;
font-style: normal;
font-weight: normal;
font-size: 55%;
line-height: 190%;
color: #FFFFFF;
top: 70%;
}
.photo-professinnelle{
  position: absolute;  
width: 30%;
height: 40%;
top: 60%;
}

    /*COMPETENCE*/
.competence{
 position: absolute;
width: 173px;
height: 23px;
left: 17%;
font-weight: bold;
font-size: 150%;
line-height: 150%;
letter-spacing: 0.315em;
color: #F18250;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*front-end*/
.front-end{
position: absolute;
width: 118px;
height: 56.56px;
left: 150px;
top: 50px;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
color: #F18250;
}
.front-end img{
position: absolute;
width: 40px;
height: 40px;
left: 120px;
top: 1px;
}

.C1{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 20%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i1{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 20%;
}

.C2{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 30%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i2{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 30%;
}

.C3{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 50%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i3{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 50%;
}

.C4{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 66%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i4{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 66%;
}

/*backend*/
.back-end{
    position: absolute;
    width: 118px;
    height: 56.56px;
    left: 150px;
    top: 95%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #F18250;
    }
    .back-end img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 1px;
    }
    .C5{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 108%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i5{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 108%;
    }
    
    .C6{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 116%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    
    }
    
    .i6{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 116%;
    }
    
    .C7{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 130%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i7{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 130%;
    }
    
    .C8{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 150%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i8{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 150%;
    }
    .realisation{
        position: absolute;
       width: 173px;
       height: 23px;
       left: 17%;
       top: 185%;
       font-weight: bold;
       font-size: 150%;
       line-height: 150%;
       letter-spacing: 0.315em;
       color: #F18250;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }
    #demo{
        position: absolute;
        top: 200%;
    }
    #demo span{
        background-color: #674587;
    }
    #demo .active{
        background-color: #674587;
    }

    /*CONNAISSANCE*/
    .connaissance{
        position: absolute;
        width: 173px;
        height: 23px;
        top: 290%;
        left: 17%;
        font-weight: bold;
        font-size: 150%;
        line-height: 150%;
        letter-spacing: 0.315em;
        color: #F18250;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
/*LANGAGES*/
.langage{
position: absolute;
width: 118px;
height: 56.56px;
left: 150px;
top: 300%;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
color: #F18250;
}
.langage img{
position: absolute;
width: 40px;
height: 40px;
left: 120px;
top: 1px;
}

.html-css{
    position: absolute;
width: 275px;
height: 23.65px;
left: 35%;
top: 310%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.html-css-icon{
position: absolute;
width: 38%;
height: 8.97px;
left:10%;
top: 310%;
}

.javascript{
    position: absolute;
width: 275px;
height: 23.65px;
left: 35%;
top: 320%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.javascript-icon{
position: absolute;
width: 38%;
height: 8.97px;
left:10%;
top: 320%;
}

.python{
    position: absolute;
width: 275px;
height: 23.65px;
left: 35%;
top: 330%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.python-icon{
position: absolute;
width: 38%;
height: 8.97px;
left:10%;
top: 330%;
}

.java{
    position: absolute;
width: 275px;
height: 23.65px;
left: 35%;
top: 340%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.java-icon{
position: absolute;
width: 38%;
height: 8.97px;
left:10%;
top: 340%;
}

/*base donnee*/
.base-donnee{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 140px;
    top: 360%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #F18250;
    }
    .base-donnee img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 150px;
    top: 1px;
    }
    .oracle{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 370%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .orale-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 370%;
    }

    .mysql{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 380%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .mysql-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 380%;
    }

    .sql-server{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 390%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .sql-server-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 390%;
    }

    /*logiciel*/
.logiciel{
    position: absolute;
    width: 150px;
    height: 80px;
    left: 140px;
    top: 410%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #F18250;
    }
    .logiciel img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 150px;
    top: 1px;
    }
    .Miscrosoft-office{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 420%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .Miscrosoft-office-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 420%;
    }
    .vs-code{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 430%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .vs-code-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 430%;
    }
    .github{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 440%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .github-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 440%;
    }

    .figma{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 35%;
    top: 450%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .figma-icon{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:20%;
    top: 450%;
    }

    /*EXPERIENCE PROFESSIONNEL*/
    .experience-professionnel{
        position: absolute;
        width: 173px;
        height: 23px;
        top: 470%;
        left: 17%;
        font-weight: bold;
        font-size: 150%;
        line-height: 150%;
        letter-spacing: 0.315em;
        color: #F18250;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .global-exp-pro{
        position: absolute;
        width: 400px;
        height: 215px;
        left: 7%;
        top: 490%;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.155em;
        color: #F18250;
    }
    .global-exp-pro p{
        color: #674587;
    }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {

 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 