@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    font-family: 'Aleo', serif;
}
.fa-bookmark,.fa-envelope-open-text,.fa-square,.fa-linkedin-in,.fa-github,.fa-phone-alt{
    color: #F18250;
}
main{
    height: 100vh;
    position: relative;
    top: 45vh;
    
}
.fontaccueil{
    position: absolute;
    background-image:url(../image/FondaccueilPortflio.png) ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left;
    height: 40%;
    width: 100%;
}
.fontaccueil h1{
    position: absolute; 
    width: 134px;
    height: 45px;
    top: 20%;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.titre{
    position: absolute; 
width: 243px;
height: 18px;
top: 45%;
font-style: italic;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
}
hr{ 
    position: absolute; 
    width: 158px;
    height: 0px;
    top: 50%;
    background-color:  #FFFFFF;
    border: 2px solid #FFFFFF;
    }
.petit-histoire{
    position: absolute; 
    width: 70%;
font-style: normal;
font-weight: normal;
font-size: 55%;
line-height: 190%;
color: #FFFFFF;
top: 70%;
}
.photo-professinnelle{
  position: absolute;  
width: 30%;
height: 40%;
top: 60%;
}

    /*COMPETENCE*/
.competence{
 position: absolute;
width: 173px;
height: 23px;
left: 17%;
font-weight: bold;
font-size: 150%;
line-height: 150%;
letter-spacing: 0.315em;
color: #F18250;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*front-end*/
.front-end{
position: absolute;
width: 118px;
height: 56.56px;
left: 150px;
top: 50px;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
color: #F18250;
}
.front-end img{
position: absolute;
width: 40px;
height: 40px;
left: 120px;
top: 1px;
}

.C1{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 20%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i1{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 20%;
}

.C2{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 30%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i2{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 30%;
}

.C3{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 50%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i3{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 50%;
}

.C4{
    position: absolute;
width: 275px;
height: 23.65px;
left: 20%;
top: 66%;
font-style: normal;
font-weight: bold;
font-size: 125%;
line-height: 150%;
color: #674587;
}

.i4{
position: absolute;
width: 38%;
height: 8.97px;
left:5%;
top: 66%;
}

/*backend*/
.back-end{
    position: absolute;
    width: 118px;
    height: 56.56px;
    left: 150px;
    top: 520px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #F18250;
    }
    .back-end img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 1px;
    }
    .C5{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 108%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i5{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 108%;
    }
    
    .C6{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 116%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    
    }
    
    .i6{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 116%;
    }
    
    .C7{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 130%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i7{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 130%;
    }
    
    .C8{
        position: absolute;
    width: 275px;
    height: 23.65px;
    left: 20%;
    top: 150%;
    font-style: normal;
    font-weight: bold;
    font-size: 125%;
    line-height: 150%;
    color: #674587;
    }
    
    .i8{
    position: absolute;
    width: 38%;
    height: 8.97px;
    left:5%;
    top: 150%;
    }
    .realisation{
        position: absolute;
       width: 173px;
       height: 23px;
       left: 17%;
       top: 185%;
       font-weight: bold;
       font-size: 150%;
       line-height: 150%;
       letter-spacing: 0.315em;
       color: #F18250;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }
    #demo{
        position: absolute;
        top: 200%;
    }
    #demo span{
        background-color: #674587;
    }
    #demo .active{
        background-color: #674587;
    }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {

 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 